<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- col-sm-6 col-md-4 col-lg-3 mt-4 -->
<div class="a">
<div class="b" *ngFor="let computer of computerProducts">
<div class=" col-sm-6 col-md-4 col-lg-3 mt-4">
    <div class="card card-inverse card-info">
        <img class="card-img-top" src={{computer.Url}}>
        <div class="card-block">
            <figure class="profile profile-inline">
                <img src="https://www.ivory.co.il/files/catalog/org/1603011178A78LL.jpg" class="profile-avatar" alt="">
            </figure>
            <h4 class="card-title">{{computer.Name}}</h4>
            <div class="card-text">
                Check
            </div>

            <div class="card-text">
                {{computer.Price}}$
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-info btn-sm" (click)="AddToCart(computer)">Buy</button>
        </div>
        <div class="card-footer">
            <button class="btn btn-info btn-sm" (click)="GetDetails(computer)">Details</button>
        </div>
    </div>
</div>
</div>
</div>